<!DOCTYPE html>
<html lang="{{ .Lang }}" dir="{{ .Language.LanguageDirection }}">
{{partial "head.html" .}}
{{partial "header.html" .}}
{{ $complex := "complex"}}
{{ $comVarLower := .Page.Type | lower }}
{{ if (eq $comVarLower $complex) }}
<!-- Custom, HTML-heavy pages (ex: Community, About, Support pages) -->
<main>
{{.Content}}
</main>
{{ else }} 
<!-- Simple Blog-post style markdown entries -->
<main class="single-body margin">
{{.Content}}
</main>
<div class="single-grad margin"></div>
{{ end }}
{{partial "footer.html" .}}
</html>