.community-cards-wrapper {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: space-between;
}

.community-card {
    border: 1px solid #0B4AC1; 
    background-color: #d7f3f982;
    border-radius: 4px;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.community-card h2 {
    justify-content: center;
}

.community-card-link {
    border: 1px solid #0B4AC1; 
    padding: 0.5rem;
    margin-block: 0.5rem;
    background-color: #ececec;
    border-radius: 4px;
}

img.community-card-icon {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100px;
   margin-top: 20px;
}

@media (max-width: 1040px) {
    .community-cards-wrapper {
        column-gap: 0.5rem;
    }
}

@media (max-width: 740px) {
    .community-cards-wrapper {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
}
