.community-cards-wrapper {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: space-between;
}

.community-card-margin-top {
    margin-top: 1rem;
}

.community-card {
    border: 1px solid #0B4AC1; 
    background-color: #d7f3f982;
    border-radius: 4px;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.community-card h2 {
    justify-content: center;
}

.community-card-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 1px solid #0B4AC1; 
    padding: 0.5rem;
    margin-block: 0.5rem;
    background-color: #ececec;
    border-radius: 4px;
}

.community-card-link:hover {
    background-color: #f4f3f3;
}

img.community-card-icon {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100px;
   margin-top: 20px;
}

@media (max-width: 1040px) {
    .community-cards-wrapper {
        column-gap: 0.5rem;
    }
}

@media (max-width: 740px) {
    .community-cards-wrapper {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
}

img.weblate {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 35;
   margin-bottom: 15px;
}


/* ---------------- */

.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 960px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 740px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }
}

/* ------ about features grid ----- */

.about-features-wrapper {
    margin-block: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #ececec;
}

.about-features-wrapper h2 {
    margin-top: -0.5rem;
}

.about-features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

.about-feature {
    display: flex;
    flex-direction: column;
    border: 1px solid #0B4AC1; 
    padding: 0.5rem;
    margin-block: 0.5rem;
    background-color: #ebf9fc;
    border-radius: 4px;
}

.about-feature h3 {
    margin-block: 0.5rem;
}


@media (max-width: 960px) {
    .about-features-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 740px) {
    .about-features-grid {
        grid-template-columns: 1fr;
    }
}

.roadmap-wrapper {
    margin-block: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #9005d121;
    border: 1px solid #9205d1; 
}

.roadmap-wrapper h2 {
    margin-top: -0.5rem;
}

.contact-wrapper {
    margin-block: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #0B4AC1; 
    background-color: #ebf9fc;
}

.contact-wrapper h2 {
    margin-top: -0.5rem;
}