.download-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.download-icon {
    margin-bottom: 1rem;
}

.download-item {
    display: grid;
    justify-items: center;
}

.signature {
   margin-top: 0.25rem; 
}

@media (max-width: 1040px) {
    .download-wrapper {
        grid-template-columns: 300px 300px;
        row-gap: 2rem;
    }
}

@media (max-width: 640px) {
    .download-wrapper {
        grid-template-columns: 1fr;
    }
}

