@font-face {
    font-family: "Humanst521-Light";
    src: url("fonts/Humanst521BT-Light.woff");
    speak: none;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "Humanst521";
    src: url("fonts/Humanst521BT-Roman.woff");
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "Humanst521-Bold";
    src: url("fonts/Humanst521BT-Bold.woff");
    font-style: normal;
    font-weight: 800;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

/* global setup and utilities */

:root {
    --gradient-height: 0.3rem;
    --ouisync-primary: #012669;
    --ouisync-secondary: #9205d1;
    --max-width: 960px;
}

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
    font-size: 16px;
    color: #373756;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1,
h2,
h3,
p,
body {
    margin: 0;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
    font-family: "Humanst521-Bold";
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

h4 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: -.5rem;
}

p {
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    font-size: 1.2rem;
}

a {
    color: #0449c6;
    ;
    text-decoration: none;
}

a:hover {
    color: #0449c6bb;
}

.a-on-dark {
    color: #62DEFD !important;
    text-decoration: none;
}

.a-on-dark:hover {
    color: #62defdbb !important;
}

.anchor-link {
    color: #373756
}

li {
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.humanst {
    font-family: "Humanst521";
}

summary {
    font-family: "Humanst521";
    margin: -0.5rem -0.5rem 0;
    padding: 0.5em;
    font-size: 1.4rem;
    cursor: pointer;
}

.summary-heading {
    display: inline;
}

details[open] {
    margin-bottom: 2rem;
}

details[open] summary {
    margin-bottom: 0.5rem;
}

details p {
    font-size: 1.1rem;
}

.margin {
    margin-inline: 4%;
}

.center {
    display: grid;
    justify-content: center;
}

.align-center {
    align-items: center;
}

figure {
    text-align: center;
}

.text-center {
    text-align: center;
}

.bottom-padding {
    padding-bottom: 2rem;
}

/* layouts/partials/header.html + head.html */
/* head.html is used for page metadata + SEO */

header {
    display: flex;
    flex-direction: row;
    height: 4.2rem;
    align-items: center;
    position: sticky;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    top: 0;
    z-index: 2;
}

nav {
    width: 100%;
    font-family: "Humanst521";
    font-size: 1.4rem;
    margin-inline: 4%;
}

.desktop-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.desktop-center-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.desktop-nav a {
    color: #000;
}

.desktop-nav a:hover {
    color: #0449c6bb;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: 1rem;
}

nav input {
    position: absolute;
    opacity: 0;
}

.checkbox-wrapper {
    margin-inline-end: 8px;
    border-radius: 6px;
    border: 1px solid var(--ouisync-primary);
}

.checkbox-wrapper:focus-within {
    /* mimic default focus outline in FF */
    box-shadow: 0 0 0 3px var(--ouisync-secondary);
    border: 1px solid #fff;
}

nav .i18n-btn {
    border-radius: 4px;
    padding: 8px 2px 8px 6px;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.4rem;
}

nav .i18n-btn:hover {
    background-color: #9005d115;
}

nav .desktop-i18n-panel {
    margin-top: 4px;
    padding-block-start: 0.6rem;
    padding-block-end: 0.8rem;
    padding-inline: 1.6rem;
    border-radius: 4px;
    border: 1px solid var(--ouisync-primary);
    display: none;
    position: absolute;
    background-color: #fff;
    max-height: calc(100dvh - 4.2rem);
    font-size: 1.4rem;
}

.i18n-chevron {
    transition: transform 0.07s;
}

.desktop-nav-toggle:checked~.desktop-i18n-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.desktop-nav-toggle:checked~.i18n-btn {
    background-color: #0125691b;
}

.desktop-nav-toggle:checked~label .i18n-chevron {
    transform: rotate(180deg);
}

nav .download-btn {
    color: white;
    background-color: var(--ouisync-primary);
    border: 1px solid var(--ouisync-primary);
    border-radius: 4px;
    padding: 8px 6px 8px 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.4rem;
}

nav .download-btn:hover {
    background-color: var(--ouisync-secondary);
    border: 1px solid var(--ouisync-secondary);
    transition: background-color 0.5s;
    color: #fff;
}

nav .dropdown-btn {
    color: white !important;
    max-width: fit-content;
}

.logo {
    max-height: 2.5rem;
}

.i18n-wrapper {
    flex-flow: nowrap;
}

.mobile-nav {
    display: none;
}

.nav-hamb-icon {
    margin-top: 12px;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.nav-hamb-icon span {
    display: block;
    width: 36px;
    height: 4px;
    background: #010101;
    margin-bottom: 10px;
    transition: transform 0.07s;
}

.nav-hamb-icon span:first-child {
    transform-origin: 0% 0%;
}

.nav-hamb-icon span:last-child {
    transform-origin: 0% 100%;
}

.mobile-nav-toggle:checked~.nav-hamb-icon span:first-child {
    transform: rotate(45deg) translate(1px, -9px);
}

.mobile-nav-toggle:checked~.nav-hamb-icon span:last-child {
    transform: rotate(-45deg) translate(2px, 8px);
}

.mobile-nav-toggle:checked~div.mobile-nav-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
}

.i18n-toggle-icon {
    display: flex;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;
}

.mobile-nav-panel {
    display: none;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 3.4rem;
    padding-block: 1rem;
    padding-inline-start: 4%;
    background-color: #fff;
    transition: opacity 0.07s;
    opacity: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    z-index: -1;
    color: #373756;
}

.mobile-nav-panel a {
    color: #373756;
}

.mobile-nav-panel a:hover {
    color: #0449c6bb;
}

div .mobile-i18n-panel {
    margin-top: 4px;
    padding-block-start: 0.6rem;
    padding-block-end: 0.8rem;
    padding-inline: 1.6rem;
    border-radius: 4px;
    border: 1px solid var(--ouisync-primary);
    display: none;
    color: #373756;
    position: absolute;
    background-color: #fff;
    right: 4%;
}

.mobile-i18n-panel-rtl {
    left: 4%;
    right: auto !important;
}

label .mobile-i18n-chevron {
    transition: transform 0.07s;
}

.mobile-i18n-toggle:checked~label .mobile-i18n-chevron {
    transform: rotate(180deg);
}

.mobile-i18n-toggle:checked~.mobile-i18n-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 900px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

/* layouts/index.html */

.hero-wrapper {
    margin-inline: 4%;
    margin-block: 2.5rem;
    color: white;
}

.hero-wrapper h1 {
    font-weight: 50;
    font-size: 3.3rem;
    max-width: 600px;
    text-align: center;
}

.hero-text {
    display: grid;
    justify-items: center;
}

.hero-wrapper h2 {
    max-width: 600px;
    font-family: "Humanst521-Light";
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.hero-text div {
    max-width: 600px;
}

@media (max-width: 740px) {
    .hero-wrapper h1 {
        font-size: 2.5rem;
    }

    .hero-wrapper h2 {
        font-size: 1.4rem;
    }
}

.gradient-one {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-secondary);
    background-image: linear-gradient(to right, #fff, var(--ouisync-secondary));
}

.grad-white-blue {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-secondary);
    background-image: linear-gradient(to right, #fff, var(--ouisync-primary));
}

.purple-bg {
    width: 100%;
    background-color: var(--ouisync-secondary);
}

.card-wrapper {
    padding-top: 2rem;
    padding-bottom: 4rem;
    max-width: 966px;
    margin-inline: 4%;
    max-height: max-content;
}

.card {
    color: #373756;
}

.card-wrapper h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.card-wrapper p {
    font-size: 1.2rem;
}

.card-wrapper img {
    max-width: 24rem;
    object-fit: contain;
}

.card-one {
    margin-top: 1rem;
    margin-inline-start: 1rem;
}

.card-two {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-three {
    margin-inline-start: 2rem;
}


.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.row-two {
    flex-direction: row-reverse;
}

@media (max-width: 740px) {
    .row {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .card {
        margin-top: 0;
    }

    .card-wrapper img {
        max-width: 100%;
    }

    .card-one {
        margin-inline-start: 0;
    }

    .card-three {
        margin-inline-start: 0;
    }
}

.gradient-two {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-primary);
    background-image: linear-gradient(to right, var(--ouisync-primary), #fff);
}

.blue-bg {
    background-color: var(--ouisync-primary);
    color: white;
}

.title-wrapper {
    display: flex;
    justify-content: center;
}

.info-title {
    margin-top: 3rem;
    font-size: 2rem;
}

.info-wrapper {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content max-content;
    gap: 1.5rem;
}

.info-wrapper h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.info-wrapper p {
    font-size: 1.2rem;
}

.info-btn-wrapper {
    display: grid;
    place-items: center;
}

.info {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.info h3 {
    margin: 0;
}

.info-btn {
    font-family: "Humanst521";
    font-size: 1.3rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 4px;
    background-color: #62DEFD;
    transition: background-color 0.1s;
    color: #373756;
    margin-top: 1rem;
}

.info-btn:hover {
    color: #373756;
    text-decoration: none;
    background-color: #87e2f9;
}

.gradient-three {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-primary);
    background-image: linear-gradient(to right, var(--ouisync-secondary), var(--ouisync-primary));
}

@media (max-width: 740px) {
    .info-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr max-content);
    }

    .info-two {
        grid-row: 3;
    }

    .info-three {
        grid-row: 5;
    }

    .info-btn-one {
        grid-row: 2;
    }

    .info-btn-two {
        grid-row: 4;
    }
}

.btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.btn p {
    margin-top: 0;
}

.btn-outline-light {
    color: #ffff;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-color: #ffff;
}

.btn-lg,
.btn-group-lg>.btn {
    padding: .5rem 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: .3rem;
}

a.btn-outline-light:hover {
    background: #ad0bf8;
    border-color: #fff;
    color: #fff;
    text-decoration: none;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.download-wrapper {
    color: #fff;
    background-color: #9205d1;
    padding-bottom: 2rem;
}

.download-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content 1fr;
    justify-content: center;
    grid-auto-flow: column;
}

.scroll-margin {
    scroll-margin-top: 5rem;
}

.download-title {
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.download-item {
    display: grid;
    justify-items: center;
    color: #000;
}

.signature-wrapper {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.signature {
    color: #fff;
    margin-inline-end: 0.5rem;
    font-size: 1.15rem;
}

.signature:hover {
    text-decoration: underline;
    color: #fff;
}

.download-icon-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.info-btn-wrapper h2 {
    margin-top: 1rem;
    color: #fff;
}

.info-btn-wrapper h3 {
    color: #fff;
    font-size: 1.3rem;
}

.download-icon {
    grid-row: 1;
    grid-column: 1;
}

.windows-icon {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}

.badge-wrapper {
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
}

@media (max-width: 1040px) {
    .download-icon-wrapper {
        margin-top: 2rem;
    }

    .download-grid {
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(4, max-content);
    }

    #dlg1 {
        grid-row: 1;
        grid-column: 1;
    }

    #dlg2 {
        grid-row: 2;
        grid-column: 1;
    }

    #dlg3 {
        grid-row: 1;
        grid-column: 2;
    }

    #dlg4 {
        grid-row: 2;
        grid-column: 2;
    }

    /* only needed if we need to add more direct links */

    #dlg5 {}

    #dlg6 {}

    #dlg7 {}

    #dlg8 {}
}

@media (max-width: 640px) {
    .download-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, max-content);
        grid-auto-flow: auto;
    }

    .download-android {
        margin-top: 0;
    }

    /*need to reassign column and row numbers for any additional direct links */

    #dlg3 {
        grid-row: 3;
        grid-column: 1;
    }

    #dlg4 {
        grid-row: 4;
        grid-column: 1;
    }
}

.server-download-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-download-wrapper h2 {
    margin: 0;
    padding: 0;
}

.server-download-wrapper p {
    margin-top: 1rem;
}

.download-accord {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.download-accord details {
    border-radius: 4px;
    margin-inline: auto;
    max-width: 600px;
    color: #fff;
    background-color: #3c0e83;
    display: flex;
    flex-direction: column;
    margin-block: 4px;
    padding: 0.5em 0.5em 0;
}

.download-accord summary {
    font-family: "Humanst521";
    margin: -0.4em -0.4em 0;
    padding: 0.5em;
    font-size: 1.4rem;
    cursor: pointer;
}

.summary-heading {
    display: inline;
}

.download-accord details[open] {
    padding: 0.5em;
}

.download-accord details[open] summary {
    padding-bottom: 0;
}

.download-accord pre {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: #290461;
    color: #fff;
    border-radius: 4px;
    overflow-x: scroll;
}

.download-accord a {
    color: #03c8fa;
}

.download-accord a:hover {
    color: #03c8fa;
    text-decoration: underline;
}

.download-accord code {
    background-color: #290461;
    color: #fff;
    border-radius: 4px;
    overflow-x: scroll;
}


/* layouts/partials/footer.html */

.footer-wrapper {
    margin-top: 2rem;
    margin-inline: 4%;
}

.footer-flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
}

.footer {
    margin-top: 2rem;
}

.copyright {
    margin-block: 1rem;
}

@media (max-width: 740px) {
    .ouisync-footer {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }

    .footer-links {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }
}

/* layouts/_default/list.html */

.list-wrapper {
    display: grid;
    justify-content: center;
    margin-block: 2rem;
}

.post-wrapper {
    display: grid;
}


/* layouts/_default/list.html */
/* layouts/_default/single.html */

.single-page-title {
    padding-top: 3rem;
    text-align: center;
}

.single-page-subtitle {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Humanst521-Light";
}

.single-grad {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-primary);
    background-image: linear-gradient(to right, #87e2f9, var(--ouisync-secondary));
    margin-top: 40px;
}

.single-body {
    max-width: 50rem;
    margin-inline: auto;
}

.single-body img {
    display: block;
    margin-inline: auto;
}

.single-body h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.single-body h2 {
    font-size: 1.7rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.single-body h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.single-body p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 24px;
}

details a {
    color: #373756;
}

details a:hover {
    color: #373756;
}

@media (max-width: 960px) {
    .single-body {
        margin-inline: 4%;
    }
}

@media (max-width: 720px) {
    .single-body img {
        max-width: 100%;
    }

    .single-body h1 {
        font-size: 2.2rem;
    }

    .single-body h2 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .single-body h3 {
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

/* layouts/partials/community-cards.html */

.community-cards-wrapper {
    color: #fff;
    margin-inline: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.community-title {
    padding-top: 3rem;
    color: #fff;
    text-align: center;
}

.community-subtitle {
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #fff;
    text-align: center;
}

.community-card-margin-top {
    margin-top: 1rem;
}

.community-card {
    border-radius: 4px;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.community-overlap {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.community-overlap-item {
    grid-row: 1;
    grid-column: 1;
}

.community-card h2 {
    justify-content: center;
}

.community-card-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    margin-block: 0.5rem;
    background-color: #ececec;
    border-radius: 4px;
    padding-inline-start: 1rem;
    color: #373756;
}

.community-card-link p {
    margin-top: 0;
}

.last-link {
    margin-bottom: 0;
}

.community-card-link:hover {
    background-color: #f4f3f3;
}

img.community-card-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 1;
}

.community-card-btn-margin {
    margin-bottom: 8px;
}

img.weblate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35;
    margin-bottom: 15px;
}

@media (max-width: 1040px) {
    .community-cards-wrapper {
        column-gap: 0.5rem;
    }
}

@media (max-width: 740px) {
    .community-cards-wrapper {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .card-height {
        min-height: fit-content;
    }

    .community-card-btn-margin {
        margin-bottom: 0;
    }
}

/* /layouts/partials/about-features.html */

.about-features-wrapper {
    padding-bottom: 4rem;
    border-radius: 4px;
}

.about-features-wrapper h2 {
    margin-top: -0.5rem;
}

.about-features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
    margin-inline: 4rem;
}

.about-feature {
    display: flex;
    flex-direction: column;
    border-rdius: 4px;
}

.feature-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.about-feature h3 {
    margin-block: 0.5rem;
}


@media (max-width: 960px) {
    .about-features-grid {
        grid-template-columns: 1fr 1fr;
        margin-inline: 0;
    }
}

@media (max-width: 740px) {
    .about-features-grid {
        grid-template-columns: 1fr;
    }
}

.roadmap-wrapper {
    padding-inline: calc(4% + 4rem);
    /* to line up with features section */
    padding-block: 3rem;
    color: #fff;
    background-color: var(--ouisync-secondary);
}

.roadmap-wrapper h2 {
    margin-top: -0.5rem;
}

.roadmap-wrapper a {
    color: #62DEFD !important;
    text-decoration: none;
}

.roadmap-wrapper a:hover {
    color: #62defdbb !important;
}

@media (max-width: 960px) {
    .roadmap-wrapper {
        padding-inline: 4%;
    }
}

.contact-wrapper {
    padding-block: 3rem;
}

.about-contact-btn {
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}

.about-contact-btn p a {
    margin-top: 0;
    font-family: "Humanst521-Bold";
    font-size: 2rem;
    color: #fff;
}

.about-contact-btn:hover {
    background-color: #ffffff17;
    cursor: pointer;
}

/* layouts/partials/team-photo-grid.html */

.photo-grid a {
    color: #000;
}

.photo-grid a:hover {
    color: #0449c6bb;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2rem;
}

@media (max-width: 960px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 740px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }
}
