@font-face {
    font-family: "Humanst521-Light";
    src: url("fonts/Humanst521BT-Light.woff");
    speak: none;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: "Humanst521";
    src: url("fonts/Humanst521BT-Roman.woff");
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: "Humanst521-Bold";
    src: url("fonts/Humanst521BT-Bold.woff");
    font-style: normal;
    font-weight: 800;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

/* global setup and utilities */

:root {
    --gradient-height: 0.3rem;
    --ouisync-primary: #012669;
    --ouisync-secondary: #9205d1;
    --max-width: 960px;
}

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;   /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */
    font-size: 16px;
    color: #373756;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1, h2, h3, p, body {
    margin: 0;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
    font-family: "Humanst521-Bold";
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

h4 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: -.5rem;
}

p {
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    font-size: 1.2rem;
}

a {
    color: #373756;
    text-decoration: none;
}

a:hover {
    color: #0B4AC1;
    text-decoration: none;
}

li {
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.humanst {
    font-family: "Humanst521";
}

summary {
    font-family: "Humanst521";
    margin: -0.5rem -0.5rem 0;
    padding: 0.5em;
    font-size: 1.4rem;
    cursor: pointer;
}

.summary-heading {
    display: inline;
}

details[open] {
    margin-bottom: 2rem;
}

details[open] summary {
    margin-bottom: 0.5rem;
}

details p {
    font-size: 1.1rem;
}

.margin {
    margin-inline: 4%;
}

.center {
    display: grid;
    justify-content: center;
}

.align-center {
    align-items: center;
}

figure {
    text-align: center;
}

.text-center {
    text-align: center;
}

.bottom-padding {
    padding-bottom: 2rem;
}

/* layouts/partials/header.html + head.html */
/* head.html is used for page metadata + SEO */

header {
    display: flex;
    flex-direction: row;
    height: 4.2rem;
    align-items: center;
    position: sticky;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    top: 0;
    z-index: 2;
}

nav {
    width: 100%;
    font-family: "Humanst521";
    font-size: 1.4rem;
    margin-inline: 4%;
}

.desktop-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.desktop-center-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: 1rem;
}

a {
    color: #373756;
    text-decoration: none;
}

label:hover {
    color: #0B4AC1;
}

nav input {
    display: none;
}

nav .i18n-btn {
    border: 1px solid var(--ouisync-primary);
    border-radius: 4px;
    padding: 8px 2px 8px 6px;
    margin-inline-end: 8px;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.4rem;
}

nav .desktop-i18n-panel {
    margin-top: 4px;
    padding-block-start: 0.6rem;
    padding-block-end: 0.8rem;
    padding-inline: 1.6rem;
    border-radius: 4px;
    border: 1px solid var(--ouisync-primary);
    display: none;
    position: absolute;
    background-color: #fff;
    max-height: calc(100dvh - 4.2rem);
}

.i18n-chevron {
    transition: transform 0.07s;
}

.desktop-nav-toggle:checked ~ .desktop-i18n-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.desktop-nav-toggle:checked ~ .i18n-btn {
    background-color: #0125691b;
}

.desktop-nav-toggle:checked ~ label .i18n-chevron {
    transform: rotate(180deg);
}

nav .download-btn {
    color: white;
    background-color: var(--ouisync-primary);
    border: 1px solid var(--ouisync-primary);
    border-radius: 4px;
    padding: 8px 6px 8px 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.4rem;
}

nav .download-btn:hover {
    background-color: var(--ouisync-secondary);
    border: 1px solid var(--ouisync-secondary);
    transition: background-color 0.5s;
}

.logo {
    max-height: 2.5rem;
}

.i18n-wrapper {
    flex-flow: nowrap;
}

.mobile-nav {
    display: none;
}

.nav-hamb-icon {
    margin-top: 12px;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.nav-hamb-icon span {
    display: block;
    width: 36px;
    height: 4px;
    background: #010101;
    margin-bottom: 10px;
    transition: transform 0.07s;
}
.nav-hamb-icon span:first-child {
    transform-origin: 0% 0%;
}
.nav-hamb-icon span:last-child {
    transform-origin: 0% 100%;
}
.mobile-nav-toggle:checked ~ .nav-hamb-icon span:first-child {
    transform: rotate(45deg) translate(1px, -9px);
}
.mobile-nav-toggle:checked ~ .nav-hamb-icon span:last-child {
    transform: rotate(-45deg) translate(2px, 8px);
}

.mobile-nav-panel {
    display: none;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 3.4rem;
    padding-block: 1rem;
    padding-inline-start: 4%;
    background-color: #fff;
    transition: opacity 0.07s;
    opacity: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    z-index: -1;
}

.mobile-nav-toggle:checked ~ div.mobile-nav-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
}

.i18n-toggle-icon {
    display: flex;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;
}
div .mobile-i18n-panel {
    margin-top: 4px;
    padding-block-start: 0.6rem;
    padding-block-end: 0.8rem;
    padding-inline: 1.6rem;
    border-radius: 4px;
    border: 1px solid var(--ouisync-primary);
    display: none;
    position: absolute;
    background-color: #fff;
    right: 4%;
}
label .mobile-i18n-chevron {
    transition: transform 0.07s;
}
.mobile-i18n-toggle:checked ~ label .mobile-i18n-chevron {
    transform: rotate(180deg);
}
.mobile-i18n-toggle:checked ~ .mobile-i18n-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 740px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

/* layouts/index.html */

.hero-wrapper {
    margin-inline: 4%;
    margin-block: 2.5rem;
    color: white;
}

.hero-wrapper h1 {
    font-weight: 50;
    font-size: 3.3rem;
    max-width: 600px;
    text-align: center;
}

.hero-text {
    display: grid;
    justify-items: center;
}

.hero-wrapper h2 {
    max-width: 600px;
    font-family: "Humanst521-Light";
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.hero-text div {
    max-width: 600px;
}

@media (max-width: 740px) {
    .hero-wrapper h1 {
        font-size: 2.5rem;
    }
    .hero-wrapper h2 {
        font-size: 1.4rem;
    }
}

.gradient-one {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-secondary);
    background-image: linear-gradient(to right, #fff, var(--ouisync-secondary));
}

.grad-white-blue {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-secondary);
    background-image: linear-gradient(to right, #fff, var(--ouisync-primary));
}

.purple-bg {
    width: 100%;
    background-color: var(--ouisync-secondary);
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    row-gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    max-width: 966px;
    margin-inline: 4%;
}

.card {
    color: #373756;
    margin-top: 2rem;
}

.card-wrapper h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.card-wrapper p {
    font-size: 1.2rem;
}

.card-wrapper img {
    max-width: 24rem;
}

.card-one {
    margin-inline-start: 1rem;
}

.card-three {
    margin-inline-start: 2rem;
}


.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.row-two {
    flex-direction: row-reverse;
}

@media (max-width: 740px) {
    .row {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .card {
        margin-top: 0;
    }
    .card-wrapper img {
        max-width: 100%;
    }
    .card-one {
        margin-inline-start: 0;
    }
    .card-three {
        margin-inline-start: 0;
    }
}

.gradient-two {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-primary);
    background-image: linear-gradient(to right, var(--ouisync-primary), #fff);
}

.blue-bg {
    background-color: var(--ouisync-primary);
    color: white;
}

.title-wrapper {
    display: flex;
    justify-content: center;
}

.info-title {
    margin-top: 3rem;
    font-size: 2rem;
}

.info-wrapper {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content max-content;
    gap: 1.5rem;
}

.info-wrapper h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.info-wrapper p {
    font-size: 1.2rem;
}

.info-btn-wrapper {
    display: grid;
    place-items: center;
}

.info {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.info h3 {
    margin: 0;
}

.info-btn {
    font-family: "Humanst521";
    font-size: 1.3rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 4px;
    background-color: #62DEFD;
    transition: background-color 0.1s;
    color: #373756;
    margin-top: 1rem;
}

.info-btn:hover {
    color: #373756;
    text-decoration: none;
    background-color: #87e2f9;
}

.gradient-three {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-primary);
    background-image: linear-gradient(to right, var(--ouisync-secondary), var(--ouisync-primary));
}

@media (max-width: 740px) {
    .info-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr max-content);
    }
    
    .info-two {
        grid-row: 3;
    }
    
    .info-three {
        grid-row: 5;
    }
    
    .info-btn-one {
        grid-row: 2;
    }

    .info-btn-two {
        grid-row: 4;
    }
  }
   
.btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.btn p {
    margin-top: 0;
}

.btn-outline-light {
  color: #ffff;
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-color: #ffff;
}

.btn-lg, .btn-group-lg > .btn {
  padding: .5rem 1rem;
  font-size: 1.3rem;
  line-height: 1.5;
  border-radius: .3rem;
}

a.btn-outline-light:hover{
  background: #ad0bf8;
  border-color: #fff;
  color: #fff;
  text-decoration: none;   
}

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
  touch-action: manipulation;
}

*, ::before, ::after {
  box-sizing: border-box;
}


/* layouts/partials/footer.html */

.footer-wrapper {
    margin-top: 2rem;
    margin-inline: 4%;
}

.footer-flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
}

.footer {
    margin-top: 2rem;
}

.copyright {
    margin-block: 1rem;
}

@media (max-width: 740px) {
    .ouisync-footer {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }
    .footer-links {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }
}

/* layouts/_default/list.html */

.list-wrapper {
    display: grid;
    justify-content: center;
    margin-block: 2rem;
}

.post-wrapper {
    display: grid;
}


/* layouts/_default/list.html */
/* layouts/_default/single.html */

.single-page-title {
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.single-page-subtitle {
    text-align: center;
    margin-bottom: 2rem;
}

.single-grad {
    height: var(--gradient-height);
    min-height: var(--gradient-height);
    background-color: var(--ouisync-primary);
    background-image: linear-gradient(to right, #87e2f9, var(--ouisync-secondary));
    margin-top:40px;
}

.single-body {
    max-width: 50rem;
    margin-inline: auto;
}

.single-body img {
    display: block;
    margin-inline: auto;
}

.single-body h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.single-body h2 {
    font-size: 1.7rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.single-body h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.single-body p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 24px;
}

.faq-wrapper {
    display: grid;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 2rem;
}

.faq-center {
    max-width: 800px;
}

.faq-subheader {
    margin-top: 2rem;
}

div.faq-subsection details figure {
    margin: 0;
}

.faq-subheader img {
    max-width: 75%;
}

details a:hover {
    color: #373756;
}

.faq-subsection {
    margin-block: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 720px) {
    div.faq-subsection details figure {
        margin-inline: -1rem;
    }
}
