<div class="blue-bg">
    <h1 class="single-page-title">{{ i18n "aboutTitle" }}</h1>
    <p class="single-page-subtitle">{{ i18n "aboutSubtitle" }}</p>
    <div class="about-features-wrapper margin">
        <div class="about-features-grid">
            <div class="about-feature">
                <div class="feature-title">
                    <img class="feature-icon" src="/icons/person-play.svg" height="36" width="36"/>
                    <h3>{{i18n "aboutFeatureOneTitle"}}</h3>
                </div>
                <p>{{i18n "aboutFeatureOneSubtitle"}}</p>
            </div>
            <div class="about-feature">
                <div class="feature-title">
                    <img class="feature-icon" src="/icons/cloud.svg" height="36" width="36"/>
                    <h3>{{i18n "aboutFeatureTwoTitle"}}</h3>
                </div>
                <p>{{i18n "aboutFeatureTwoSubtitle"}}</p>
            </div>
            <div class="about-feature">
                <div class="feature-title">
                    <img class="feature-icon" src="/icons/lock.svg" height="36" width="36"/>
                    <h3>{{i18n "infoOneTitle"}}</h3>
                </div>
                <p>{{i18n "aboutFeatureThreeSubtitle"}}</p>
            </div>
            <div class="about-feature">
                <div class="feature-title">
                    <img class="feature-icon" src="/icons/diversity.svg" height="36" width="36"/>
                    <h3>{{i18n "aboutFeatureFourTitle"}}</h3>
                </div>
                <p>{{i18n "aboutFeatureFourSubtitle"}}</p>
            </div>
            <div class="about-feature">
                <div class="feature-title">
                    <img class="feature-icon" src="/icons/tune.svg" height="36" width="36"/>
                    <h3>{{i18n "aboutFeatureFiveTitle"}}</h3>
                </div>
                <p>{{i18n "aboutFeatureFiveSubtitle"}}</p>
            </div>
            <div class="about-feature">
                <div class="feature-title">
                    <img class="feature-icon" src="/icons/code.svg" height="36" width="36"/>
                    <h3>{{i18n "aboutFeatureSixTitle"}}</h3>
                </div>
                <p>{{i18n "aboutFeatureSixSubtitle"}}<a class="a-on-dark" href="https://github.com/equalitie/ouisync-app">Github</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="gradient-three"></div>