<div class="purple-bg">
	<h1 class="community-title">{{ i18n "getInTouch" }}</h1>
	<p class="community-subtitle">{{ i18n "getInTouchSubtitle" }}</p>
	<div class="community-cards-wrapper">
		<div class="community-card">
				<div class="center">
					<div class="community-overlap">
						<img class="community-overlap-item" src="/icons/ouisync-bg-purple.png" height="160"alt="Solid background" />						
						<img class="community-card-icon community-overlap-item" src="/icons/code-blue.png" height="100" alt="Source Code Repositories">
					</div>
					<h2>{{i18n "sourceCodeTitle"}}</h2>
				</div>
				<p>{{i18n "sourceCodeSubtitle"}}</p>
				<a target="_blank" href="https://github.com/equalitie/ouisync-app">
					<div class="community-card-link">
						<img src="/icons/ouisync-icon.png" height="30" width="30" alt="Ouisync App"/>
						<p><b>{{i18n "appTitle"}}</b></p>
					</div>
				</a>
				<a target="_blank" href="https://github.com/equalitie/ouisync/tree/master/cli">
					<div class="community-card-link">
						<img src="/icons/terminal.png" height="30" width="30" alt="Ouisync Command Line Interface"/>
						<p><b>{{i18n "cliTitle"}}</b></p>
					</div>
				</a>
				<a target="_blank" href="https://github.com/equalitie/ouisync/tree/master/lib">
					<div class="community-card-link last-link">
						<img src="/icons/rust.png" height="30" width="30" alt="Ouisync Rust library"/>
						<p><b>{{i18n "rustLibTitle"}}</b></p>
					</div>
				</a>
				<a target="_blank" href="https://github.com/equalitie/ouisync/tree/master/bindings/dart">
					<div class="community-card-link">
						<img src="/icons/flutter.png" height="30" width="30" alt="Ouisync Flutter plugin"/>
						<p><b>{{i18n "flutterPluginTitle"}}</b></p>
					</div>
				</a>
				<a target="_blank" href="https://github.com/equalitie/ouisync/tree/master/bindings/kotlin">
					<div class="community-card-link">
						<img src="/icons/kotlin.png" height="30" width="30" alt="Ouisync Kotlin library"/>
						<p><b>{{i18n "kotlinLibTitle"}}</b></p>
					</div>
				</a>
		</div>
		<div class="community-card">
			<div class="center">
				<div class="community-overlap">
					<img class="community-overlap-item" src="/icons/ouisync-bg-purple.png" height="160" alt="Solid background"/>						
					<img class="community-card-icon community-overlap-item" src="/icons/chat-blue.png" height="100" alt="Contact us">
				</div>
				<h2>{{i18n "contactUs"}}</h2>
			</div>
			<p>{{i18n "contactUsSubtitle"}}</p>
			<p>{{i18n "socialMediaTitle"}}</p>
			<div class="community-card-margin-top">
				<a target="_blank" href="https://twitter.com/ouisync">
					<div class="community-card-link">
						<img class="community-card-link-icon" src="/icons/twitter.png" height="32" alt="Follow us on Twitter">
						<p><b>@ouisync</b></p>
					</div>
				</a>
			</div>
			<a target="_blank" href="https://social.eqver.se/@ouisync">
				<div class="community-card-link">
					<img class="community-card-link-icon" src="/icons/mastodon.png" height="32" alt="Join our Mastodon">
					<p><b>@ouisync@social.eqver.se</b></p>
				</div>
			</a>
			<a target="_blank" href="https://matrix.to/#/#ouisync:matrix.eqver.se">
				<div class="community-card-link">
					<img class="community-card-link-icon" src="/icons/element.png" height="32" alt="Join our Matrix chat">
					<p><b>#ouisync@matrix.eqver.se</b></p>
				</div>
			</a>
		</div>
		<div class="community-card">
			<div class="card-height">
				<div class="center">
					<div class="community-overlap">
						<img class="community-overlap-item" src="/icons/ouisync-bg-purple.png" height="160" alt="Solid background"/>						
						<img class="community-card-icon community-overlap-item" src="/icons/globe-blue.png" height="100" alt="Translate Ouisync">
					</div>
					<h2>{{i18n "translateTitle"}}</h2>
				</div>
				<p><img class="weblate" src="https://hosted.weblate.org/widgets/ouisync/-/svg-badge.svg" height="30" alt="Percent Translated"></p>
				<p>{{i18n "translateP00"}}<a target="_blank" class="a-on-dark" href="https://weblate.org/en/">Weblate</a>{{i18n "translateP01"}}</p>
				<p>{{i18n "translateP1"}}</p>
			</div>
			<div class="info-btn-wrapper">
				<a class="info-btn info-btn-two community-card-btn-margin" target="_blank" href="https://hosted.weblate.org/projects/ouisync">{{i18n "joinWeblateBtn"}}</a>
			</div>
		</div>
	</div>
</div>
<div class="gradient-one"></div>
