<div class="community-cards-wrapper">
    <div class="community-card">
        <div class="card-height">
            <div class="center">
                <img class="community-card-icon" src="/icons/code-blue.svg" height="100">
                <h2>{{i18n "sourceCodeTitle"}}</h2>
            </div>
            <p>{{i18n "sourceCodeSubtitle"}}</p>
            <a href="https://github.com/equalitie/ouisync-app">
                <div class="community-card-link">
                    <img src="/icons/ouisync-icon.png" height="30" width="30"/>
                    <p><b>{{i18n "appTitle"}}</b></p>
                </div>
            </a>
            <a href="https://github.com/equalitie/ouisync-plugin">
                <div class="community-card-link">
                    <img src="/icons/flutter.svg" height="30" width="30"/>
                    <p><b>{{i18n "flutterPluginTitle"}}</b></p>
                </div>
            </a>
            <a href="https://github.com/equalitie/ouisync/tree/master/cli">
                <div class="community-card-link">
                    <img src="/icons/terminal.svg" height="30" width="30"/>
                    <p><b>{{i18n "cliTitle"}}</b></p>
                </div>
            </a>
            <a href="https://github.com/equalitie/ouisync/tree/master/lib">
                <div class="community-card-link last-link">
                    <img src="/icons/library.svg" height="30" width="30"/>
                    <p><b>{{i18n "libTitle"}}</b></p>
                </div>
            </a>
        </div>
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two community-card-btn-margin" href="https://github.com/equalitie/ouisync/blob/master/doc/system_design.pdf">{{i18n "whitepaperBtn"}}</a>
        </div>
    </div>
    <div class="community-card">
        <div class="center">
            <img class="community-card-icon" src="/icons/chat-blue.svg" height="100">
            <h2>{{i18n "contactUs"}}</h2>
        </div>
        <p>{{i18n "contactUsSubtitle"}}</p>
        <p>{{i18n "socialMediaTitle"}}</p>
        <div class="community-card-margin-top">
            <a href="https://twitter.com/ouisync">
                <div class="community-card-link">
                    <img class="community-card-link-icon" src="/icons/twitter.svg" height="32">
                    <p><b>@ouisync</b></p>
                </div>
            </a>
        </div>
        <a href="https://social.eqver.se/@ouisync">
            <div class="community-card-link">
                <img class="community-card-link-icon" src="/icons/mastodon.svg" height="32">
                <p><b>@ouisync@social.eqver.se</b></p>
            </div>
        </a>
        <a href="https://matrix.to/#/#ouisync:matrix.eqver.se">
            <div class="community-card-link">
                <img class="community-card-link-icon" src="/icons/element.svg" height="32">
                <p><b>#ouisync@matrix.eqver.se</b></p>
            </div>
        </a>
    </div>
    <div class="community-card">
        <div class="card-height">
            <div class="center">
                <img class="community-card-icon" src="/icons/globe-blue.svg" height="100">
                <h2>{{i18n "translateTitle"}}</h2>
            </div>
            <p><img class="weblate" src="https://hosted.weblate.org/widgets/ouisync/-/svg-badge.svg"></p>
            <p>{{i18n "translateP0"}}</p>
            <p>{{i18n "translateP1"}}</p>
            <p>{{i18n "translateP2"}} <a href="https://docs.weblate.org/">Weblate {{i18n "documentation"}}</a>.</p>
        </div>
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two community-card-btn-margin" href="https://hosted.weblate.org/projects/ouisync">{{i18n "joinWeblateBtn"}}</a>
        </div>
    </div>
</div>
