<footer>
    <div class="footer-wrapper" dir="{{ .Language.LanguageDirection }}">
        <div class="footer">
            <div class="footer-flex-header">
                <div>
                    <p><a href="https://equalitie.org"><img src="/img/eQualitie_Logo_Black.png" height="32"
                                alt="eQualitie logo"></a></p>
                </div>
                <div>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=org.equalitie.ouisync"><img
                            src="/icons/google-play.png" height="32" alt="Download for Android on Google Play"></a>
                    <a target="_blank" href="https://github.com/equalitie/ouisync-app"><img src="/icons/github.png"
                            height="32" alt="Get the source code via Github"></a>
                    <a target="_blank" href="https://social.eqver.se/@ouisync"><img src="/icons/mastodon.png"
                            height="32" alt="Join our Mastodon"></a>
                    <a target="_blank" href="https://twitter.com/ouisync"><img src="/icons/twitter.png" height="32"
                            alt="Follow us on Twitter"></a>
                    <a target="_blank" href="https://hosted.weblate.org/projects/ouisync/#information"><img
                            src="/icons/globe-purple.png" height="32" alt="Translation crowdsourced on Weblate"></a>
                </div>
            </div>
            <p>{{i18n "footerEQStatement0"}} <a href="https://equalitie.org">eQualitie</a> {{i18n "footerEQStatement1"}}<a
                    href="https://equalitie.org/en/values/">{{i18n "values"}}.</a> {{i18n "footerEQStatement2"}}</a></p>
        </div>
        <div class="copyright"> &copy; Ouisync 2020
            <script>new Date().getFullYear() > 2021 && document.write("-" + new Date().getFullYear());</script> &nbsp; |
            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3</a> | {{ if eq .Lang
            "en"}} <a href="/privacy">{{i18n "privacy"}}</a> {{ else }} <a href="/{{ .Lang }}/privacy"> {{i18n
                "privacy"}}</a> {{end}}
        </div>
    </div>
</footer>