<footer>
    <div class="footer-wrapper" dir="{{ .Language.LanguageDirection }}">
        <div class="footer">
            <div class="footer-flex-header">
                <div><p><a href="https://equalit.ie"><img src="/img/eQualitie_Logo_Black.png" height="32"></a></p></div>
                <div>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=org.equalitie.ouisync"><img src="/icons/google-play.svg" height="32"></a>
                    <a target="_blank" href="https://github.com/equalitie/ouisync-app"><img src="/icons/github.svg" height="32"></a>
                    <a target="_blank" href="https://social.eqver.se/@ouisync"><img src="/icons/mastodon.svg" height="32"></a>
                    <a target="_blank" href="https://twitter.com/ouisync"><img src="/icons/twitter.svg" height="32"></a>
                    <a target="_blank" href="https://hosted.weblate.org/projects/ouisync/#information"><img src="/icons/globe-purple.svg" height="32"></a>
                </div>
            </div>
            <p>{{i18n "footerEQStatement0"}} <a href="https://equalit.ie">eQualit.ie</a> {{i18n "footerEQStatement1"}}<a href="https://equalit.ie/en/values/">{{i18n "values"}}.</a> {{i18n "footerEQStatement2"}}</a></p>
        </div>
        <div class="copyright">
            © Ouisync 2023 | <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3</a> | <a href="/privacy">{{i18n "privacy"}}</a>
        </div>
    </div>
</footer>
