<footer>
    <div class="footer-wrapper">
        <div class="footer">
            <div class="footer-flex-header">
                <div><p><a href="https://equalit.ie"><img src="/img/eQualitie_Logo_Black.png" height="32"></a></p></div>
                <div>
                    <a href="https://play.google.com/store/apps/details?id=org.equalitie.ouisync"><img src="/icons/google-play.svg" height="32"></a>
                    <a href="https://github.com/equalitie/ouisync-app"><img src="/icons/github.svg" height="32"></a>
                    <a href="https://social.eqver.se/@ouisync"><img src="/icons/mastodon.svg" height="32"></a>
                    <a href="https://twitter.com/ouisync"><img src="/icons/twitter.svg" height="32"></a>
                    <a href="https://hosted.weblate.org/projects/ouisync/#information"><img src="/icons/globe-purple.svg" height="32"></a>
                </div>
            </div>
            <p>Ouisync is a project by <a href="https://equalit.ie">eQualit.ie</a> – a not-for-profit Canadian company creating decentralized internet services in support of a more equal and equitable network. Our solutions are open source, battle proven and developed in mind of our <a href="https://equalit.ie/en/values/">values</a>. Everyday, they enable freedom of association for millions of people online.</p>
        </div>
        <div class="copyright">
            © Ouisync 2023 | <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3</a> | <a href="/privacy">Privacy</a>
        </div>
    </div>
</footer>
