<head>
    <meta charset="UTF-8"/>
    <title>Ouisync</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="icon" href="/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {{ $style := resources.Get "styles.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <meta property="og:title" content="Ouisync" />
    <meta property="og:description" content="Store, sync, and share files across devices anywhere with Ouisync. Secure, open source, peer-to-peer file-sharing" />
    <meta property="og:url" content="https://ouisync.net" />
    <meta property="og:image" content="/img/ouisync-header.png" />
</head>
