<div class="photo-grid">
    <a href="https://equalitie.org/about-us"><figure class="bios"><img src="/img/peter.png" alt="Lead Software Developer: Peter"><figcaption><h4>Peter</h4><p>Lead Software Developer</p></figcaption></figure></a>
    <a href="https://equalitie.org/about-us"><figure class="bios"><img src="/img/adam.png" alt="Developer - Cryptography and Networking: Adam"><figcaption><h4>Adam</h4><p>Developer - Cryptography and Networking</p></figcaption></figure></a>
    <a href="https://equalitie.org/about-us"><figure class="bios"><img src="/img/ivana.png" alt="QA Testing &amp; Project Manager: Ivana"><figcaption><h4>Ivana</h4><p>QA Testing</p></figcaption></figure></a>
    <a href="https://equalitie.org/about-us"><figure class="bios"><img src="/img/ksenia.png" alt="UX Researcher - Ksenia"><figcaption><h4>Ksenia</h4><p>UX Researcher</p></figcaption></figure></a>
</div>
