<!DOCTYPE html>
<html lang="{{ .Lang }}" dir="{{ .Language.LanguageDirection }}">
{{partial "head.html" .}}
{{partial "header.html" .}}
<main>
<section class="purple-bg center">
    <div class="hero-wrapper">
        <div class="hero-text">
            <h1>{{i18n "heroTitle"}}</h1>
            <h2>{{i18n "heroSubtitle"}}</h2>
            <div class="row col-12 p-5 mx-auto justify-content-center">
                <a class="btn btn-lg btn-outline-light" href="#download">
                    <img src="/icons/download.png" height="30" alt="Download"/>
                    <div class="humanst">{{i18n "heroBtnText"}}</div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="gradient-one"></div>
<section class="center">
    <div class="card-wrapper">
        <div class="row row-one">
            <img class="img-one" src="/img/read-only.png" alt="Read-only permissions"/>
            <div class="card card-one">
                <h3>{{i18n "cardOneTitle"}}</h3>
                <p>{{i18n "cardOneSubtitle"}}</p>
            </div>    
        </div>
        <div class="row row-two">
            <img class="img-two" src="/img/read-write.png" alt="Read-Write permissions"/>
            <div class="card card-two">
                <h3>{{i18n "cardTwoTitle"}}</h3>
                <p>{{i18n "cardTwoSubtitle"}}</p>
            </div>    
        </div>
        <div class="row row-three">
            <img class="img-three" src="/img/blind_mode.png" alt="Blind permissions"/>
            <div class="card card-three">
                <h3>{{i18n "cardThreeTitle"}}</h3>
                <p>{{i18n "cardThreeSubtitle"}}</p>
            </div>    
        </div>
    </div>
</section>
<div class="gradient-two"></div>
<section class="blue-bg">
    <div class="title-wrapper">
        <h2 class="info-title">Features</h2>
    </div>
    <div class="margin info-wrapper">
        <div class="info-one">
            <div class="info">
                <img src="/icons/lock-light.png" height="36" width="36" alt="Lock">
                <h3>{{i18n "infoOneTitle"}}</h3>
            </div>
            <p>{{i18n "infoOneContent"}}</p>
        </div>    
        <div class="info-two">
            <div class="info">
                <img src="/icons/cloud-light.png" height="36" width="36" alt="No Cloud"> 
                <h3>{{i18n "infoTwoTitle"}}</h3>
            </div>
            <p>{{i18n "infoTwoContent"}}</p>
        </div>    
        <div class="info-three">
            <div class="info">
                <img src="/icons/person-gear.png" height="36" width="36" alt="Person with Gear">
                <h3>{{i18n "infoThreeTitle"}}</h3>
            </div>
            <p>{{i18n "infoThreeContent"}}</p>
        </div>    
        <div class="info-btn-wrapper">
	<!-- Link to page detailing security / encryption procols etc -->
            <a class="info-btn info-btn-one" href="/security">{{i18n "learnMoreBtn"}}  →</a>
        </div>
        <div class="info-btn-wrapper">
	<!-- Link to an infographic detailing network scenarios? -->
            <a class="info-btn info-btn-two" href="/about">{{i18n "learnMoreBtn"}} →</a>
        </div>
        <div class="info-btn-wrapper">
	<!-- Maybe link to a video demo here? Or for now, section of FAQ that details how the different sharing options work.. -->
    <a class="info-btn info-btn-three" href="/support/#sharing">{{i18n "learnMoreBtn"}} →</a>
        </div>
    </div>
</section>
<div class="gradient-three"></div>
<div class="download-wrapper">
    <div class="hero-text margin download-title">
        <h1 id="download" class="scroll-margin">{{i18n "download"}} Ouisync</h1>
    </div>
    <div class="download-grid">
        <div id="dlg1" class="download-item">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=org.equalitie.ouisync">
                <div class="download-icon-wrapper download-android">
                    <img class="windows-icon" src="/icons/android.png" height="112" alt="Android">
                    <img class="download-icon" src="/icons/ouisync-bg-purple.png" height="200" alt="Download for Android"/>        
                </div>
                <div class="info-btn-wrapper">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=org.equalitie.ouisync"><h2 style="font-size:1.6em;">Android</h2></a>
                </div>
            </a>
            <!-- Uncomment for signature link <div class="signature-wrapper">
                <img src="/icons/key.png" height="20" width="20" alt="Signature Key/>                
                <a class="signature" href="">Signature</a>
                <a href="#verify-apk">
                    <img src="/icons/help.png" height="20" width="20" alt="Help"/>                
                </a>
            </div> -->
        </div>
        <div id="dlg2" class="badge-wrapper download-item">
        <!-- Uncomment for Android badges   <a target="_blank" href="https://github.com/equalitie/ouisync-app/releases">
                <img src="/img/github-badge.png"
                alt="Download Ouisync from Github"
                height="55"
                class="badge">
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=org.equalitie.ouisync">
                <img src="/img/google-play-badge.png"
                alt="Download Ouisync from Google Play"
                height="55"
                class="badge badge-two">
            </a> -->
        </div>
        <div id="dlg3" class="download-item">
            <a target="_blank" href="https://www.microsoft.com/store/apps/9NVMS5ZRV27F">
                <div class="download-icon-wrapper">
                    <img class="windows-icon" src="/icons/windows.png" height="112" alt="Windows">
                    <img class="download-icon" src="/icons/ouisync-bg-purple.png" height="200" alt="Download for Windows"/>        
                </div>
            </a>
            <div class="info-btn-wrapper">
                <a href="https://www.microsoft.com/store/apps/9NVMS5ZRV27F">
		    <!--a href="https://github.com/equalitie/ouisync-app/releases/download/v0.7.0-beta/ouisync-windows-installer-00046--v0.7.0--beta--2023-07-26--17-35-09-UTC--f67810f4.exe"--><h2 style="font-size:1.6em;">Windows</h2></a>
            </div>
            <!-- <div class="signature-wrapper">
                <img src="/icons/key.png" height="20" width="20" alt="Signature Key"/>                
                <a class="signature" href="/">Signature</a>
                <a href="#verify-windows">
                    <img src="/icons/help.png" height="20" width="20" alt="Help"/>                
                </a>
            </div> -->
        </div>
        <div id="dlg4" class="badge-wrapper download-item">
            <!--a target="_blank" href="https://github.com/equalitie/ouisync-app/releases">
                <img src="/img/github-badge.png"
                alt="Download Ouisync from Github"
                height="55"
                class="badge">
            </a-->
        </div>
        <div id="dlg5" class="download-item" style="align:center">
            <a target="_blank" href="https://github.com/equalitie/ouisync-app/releases">
                <div class="download-icon-wrapper">
                    <img class="windows-icon" src="/icons/linux.png" height="112" alt="Linux">
                    <img class="download-icon" src="/icons/ouisync-bg-purple.png" height="200" alt="Download for Linux"/>        
                </div>
            </a>
            <div class="info-btn-wrapper">
                <a target="_blank" href="https://github.com/equalitie/ouisync-app/releases"><h2 style="font-size:1.6em;">Linux</h2></a>
            </div>
            <!-- <div class="signature-wrapper">
                <img src="/icons/key.png" height="20" width="20" alt="Signature Key />                
                <a class="signature" href="/">Signature</a>
                <a href="#verify-linux">
                    <img src="/icons/help.png" height="20" width="20" alt="Help"/>                
                </a>
            </div> -->
        </div>
        <div id="dlg6" class="download-item"></div>
        <div id="dlg7" class="download-item">
            <a href="">
                <div class="download-icon-wrapper">
                    <img class="windows-icon" src="/icons/apple.png" height="112" alt="iOS">
                    <img class="download-icon" src="/icons/ouisync-bg-purple.png" height="200" alt="iOS Version is in progress"/>        
                </div>
            </a>
            <div class="info-btn-wrapper">
                <a href="#download"><h2 class="text-center" style="font-size:1.6em;">iOS (In Progress)</h2></a>
            </div>
            <!-- <div class="signature-wrapper">
                <img src="/icons/key.png" height="20" width="20" alt="Signature Key/>                
                <a class="signature" href="/">Signature</a>
                <img src="/icons/help.png" height="20" width="20" alt="Help"/>                
            </div> -->
        </div>
        <div id="dlg8" class="download-item"></div>
    </div>
    <div class="server-download-wrapper center margin">
        <div class="flex">
            <img src="/icons/docker.png" height="36" width="36" alt="Docker"/>
            <h2 style="font-size:1.6em;">{{i18n "download"}} Ouisync {{i18n "downloadDocker"}}</h2>
        </div> 
        <p>{{i18n "dockerReason"}}</p>
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two" href="https://hub.docker.com/r/equalitie/ouisync">Ouisync {{i18n "server"}}</a>
        </div>
    </div>
        <div id="dlg4" class="badge-wrapper download-item">
            <a target="_blank" href="https://github.com/equalitie/ouisync-app/releases">
                <img src="/img/github-badge.png"
                alt="Download Ouisync from Github"
                height="55"
                class="badge">
            </a>
        </div>
    <!-- Uncomment for verify accordian cards <div class="download-accord margin">
        <details id="verify-apk">
            <summary>Verify APK for Android</summary>
            <div>
               <p>Run this to <a href="https://developer.android.com/studio/command-line/apksigner#usage-verify">verify</a> that the APK has a valid signature from the certificate with the fingerprint shown below:</p>
                  <pre>&gt; apksigner verify --print-certs ceno-[…].apk<br>Signer #1 certificate DN: CN=equalit.ie<br>Signer #1 certificate SHA-256 digest: a59d20c076f6170a2c13d9ce96cd4349688f907898dfc3c89b0ae6ebe9f7edca<br>[…]
                  </pre>
                  <p>You can also verify the <a href="https://dcomm.net.ua/package/ceno/sha256sums.txt.asc">signatures</a>
                    of <a href="https://dcomm.net.ua/package/ceno/sha256sums.txt">file hashes</a>
                    against our <a href="https://pgp.mit.edu/pks/lookup?op=get&amp;search=0xC7DCC123F0DDB862">PGP key</a>
                    (with fingerprint <code>51BE 600C 2711 926C 865D F93F C7DC C123 F0DD B862</code>).
                </p>
            </div>
        </details> 
        <details id="verify-windows">
            <summary>Verify Windows .exe File</summary>
            <div>
               <p>Run this to <a href="https://developer.android.com/studio/command-line/apksigner#usage-verify">verify</a> that the APK has a valid signature from the certificate with the fingerprint shown below:</p>
                  <pre>&gt; apksigner verify --print-certs ceno-[…].apk<br>Signer #1 certificate DN: CN=equalit.ie<br>Signer #1 certificate SHA-256 digest: a59d20c076f6170a2c13d9ce96cd4349688f907898dfc3c89b0ae6ebe9f7edca<br>[…]
                  </pre>
                  <p>You can also verify the <a href="https://dcomm.net.ua/package/ceno/sha256sums.txt.asc">signatures</a>
                    of <a href="https://dcomm.net.ua/package/ceno/sha256sums.txt">file hashes</a>
                    against our <a href="https://pgp.mit.edu/pks/lookup?op=get&amp;search=0xC7DCC123F0DDB862">PGP key</a>
                    (with fingerprint <code>51BE 600C 2711 926C 865D F93F C7DC C123 F0DD B862</code>).
                </p>
            </div>
        </details> 
        <details id="verify-linux">
            <summary>Verify Linux CLI Excecutable</summary>
            <div>
               <p>Run this to <a href="https://developer.android.com/studio/command-line/apksigner#usage-verify">verify</a> that the APK has a valid signature from the certificate with the fingerprint shown below:</p>
                  <pre>&gt; apksigner verify --print-certs ceno-[…].apk<br>Signer #1 certificate DN: CN=equalit.ie<br>Signer #1 certificate SHA-256 digest: a59d20c076f6170a2c13d9ce96cd4349688f907898dfc3c89b0ae6ebe9f7edca<br>[…]
                  </pre>
                  <p>You can also verify the <a href="https://dcomm.net.ua/package/ceno/sha256sums.txt.asc">signatures</a>
                    of <a href="https://dcomm.net.ua/package/ceno/sha256sums.txt">file hashes</a>
                    against our <a href="https://pgp.mit.edu/pks/lookup?op=get&amp;search=0xC7DCC123F0DDB862">PGP key</a>
                    (with fingerprint <code>51BE 600C 2711 926C 865D F93F C7DC C123 F0DD B862</code>).
                </p>
            </div>
        </details> 
    </div> -->
</div>
<div class="gradient-one"></div>
</main>
{{partial "footer.html" .}}
</html>
