<html lang="en">
{{partial "head.html" .}}
{{partial "header.html" .}}
<main>
<section class="purple-bg center">
    <div class="hero-wrapper">
        <div class="hero-text">
            <h1>Secure file-sharing and real-time sync</h1>
            <h2>File sync and backups between devices, peer-to-peer.</h2>
            <div class="row col-12 p-5 mx-auto justify-content-center">
                <a class="btn btn-lg btn-outline-light" href="/download">
                <img src="/icons/download.svg" height="30"/>
                <h3>Download Ouisync</h3>
            </a>
            </div>

            <!--div class="badge-wrapper">
                <a href="https://github.com/equalitie/ouisync-app/releases">
                    <img src="/img/github-badge.png"
                    alt="Download Ouisync from Github"
                    height="55"
                    class="badge">
                </a>
                <a href="https://play.google.com/store/apps/details?id=org.equalitie.ouisync">
                    <img src="/img/google-play-badge.png"
                    alt="Download Ouisync from Google Play"
                    height="55"
                    class="badge badge-two">
                </a>
            </div-->
        </div>
    </div>
</section>
<div class="gradient-one"></div>
<section class="center">
    <div class="card-wrapper">
        <div class="row row-one">
            <img class="img-one" src="/img/read-only.png" alt="Read-only permissions"/>
            <div class="card card-one">
                <h3>Easily share content with your audiences</h3>
                <p>Need to share news, event documents, videos or educational material to your audiences without relying on centralized platforms that are easily blocked? With Ouisync, you can quickly upload media and share Read-only access to content via QR codes, shortlinks, or other messaging platforms. Ouisync is 100% free and open source, and will never share or sell your data to third parties.</p>
            </div>    
        </div>
        <div class="row row-two">
            <img class="img-two" src="/img/read-write.png" alt="Read-Write permissions"/>
            <div class="card card-two">
                <h3>Quickly share files with a friend</h3>
                <p>Share a Ouisync repository using Write permissions to allow multiple users to add or edit files within a repository, even in conditions of limited connectivity. Keep data in sync between your personal devices, collaborate on team projects, and create group photo albums. All data in Ouisync is end-to-end encrypted for your peace of mind.</p>
            </div>    
        </div>
        <div class="row row-three">
            <img class="img-three" src="/img/blind_mode.png" alt="Blind permissions"/>
            <div class="card card-three">
                <h3>Securely store sensitive documents</h3>
                <p>Want to securely back up your data on other devices and make it inaccessible to anyone else? Share your Ouisync repositories in Blind mode. Your friend offers you their spare computer for storage of your data? Let your friends be your cloud! It takes just a couple of taps in Ouisync to securely store your data in Blind mode and you never again have to worry about losing your phone - your data is safely stored for whenever you need it.</p>
            </div>    
        </div>
    </div>
</section>
<div class="gradient-two"></div>
<section class="blue-bg">
    <div class="title-wrapper">
        <h2 class="info-title">Features</h2>
    </div>
    <div class="margin info-wrapper">
        <div class="info-one">
            <div class="info">
                <img src="/icons/lock-light.svg" height="36" width="36">
                <h3>Secure</h3>
            </div>
            <p>Data (including metadata such as file name, size or location) is encrypted both in transit and at rest, and can be shared as read/write, read-only, or blind.</p>
        </div>    
        <div class="info-two">
            <div class="info">
                <img src="/icons/cloud-light.svg" height="36" width="36"> 
                <h3>Resilient</h3>
            </div>
            <p>Ouisync users are able to share files despite conditions of limited or no internet connectivity, when the centralised servers most apps rely upon may not be reachable.</p>
        </div>    
        <div class="info-three">
            <div class="info">
                <img src="/icons/person-gear.svg" height="36" width="36">
                <h3>You're in control</h3>
            </div>
            <p>Easily create encrypted repositories for your data and then distribute the link to friends, audiences, or between devices for effective, decentralized publication and/or backup storage.</p>
        </div>    
        <div class="info-btn-wrapper">
	<!-- Link to page detailing security / encryption procols etc -->
            <a class="info-btn info-btn-one" href="/security">Learn More  →</a>
        </div>
        <div class="info-btn-wrapper">
	<!-- Link to an infographic detailing network scenarios? -->
            <a class="info-btn info-btn-two" href="/about">Learn More →</a>
        </div>
        <div class="info-btn-wrapper">
	<!-- Maybe link to a video demo here? Or for now, section of FAQ that details how the different sharing options work.. -->
            <a class="info-btn info-btn-three" href="/faq#sharing">Learn More →</a>
        </div>
    </div>
</section>
<div class="gradient-three"></div>
</main>
{{partial "footer.html" .}}
</html>
