<!DOCTYPE html>
<html lang="{{ .Lang }}" dir="{{ .Language.LanguageDirection }}">
{{partial "head.html" .}}
{{partial "header.html" .}}
<main>
<section class="purple-bg center">
    <div class="hero-wrapper">
        <div class="hero-text">
            <h1>{{i18n "heroTitle"}}</h1>
            <h2>{{i18n "heroSubtitle"}}</h2>
            <div class="row col-12 p-5 mx-auto justify-content-center">
                <a class="btn btn-lg btn-outline-light" href="/download">
                    <img src="/icons/download.svg" height="30"/>
                    <div class="humanst">{{i18n "heroBtnText"}}</div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="gradient-one"></div>
<section class="center">
    <div class="card-wrapper">
        <div class="row row-one">
            <img class="img-one" src="/img/read-only.png" alt="Read-only permissions"/>
            <div class="card card-one">
                <h3>{{i18n "cardOneTitle"}}</h3>
                <p>{{i18n "cardOneSubtitle"}}</p>
            </div>    
        </div>
        <div class="row row-two">
            <img class="img-two" src="/img/read-write.png" alt="Read-Write permissions"/>
            <div class="card card-two">
                <h3>{{i18n "cardTwoTitle"}}</h3>
                <p>{{i18n "cardTwoSubtitle"}}</p>
            </div>    
        </div>
        <div class="row row-three">
            <img class="img-three" src="/img/blind_mode.png" alt="Blind permissions"/>
            <div class="card card-three">
                <h3>{{i18n "cardThreeTitle"}}</h3>
                <p>{{i18n "cardThreeSubtitle"}}</p>
            </div>    
        </div>
    </div>
</section>
<div class="gradient-two"></div>
<section class="blue-bg">
    <div class="title-wrapper">
        <h2 class="info-title">Features</h2>
    </div>
    <div class="margin info-wrapper">
        <div class="info-one">
            <div class="info">
                <img src="/icons/lock-light.svg" height="36" width="36">
                <h3>{{i18n "infoOneTitle"}}</h3>
            </div>
            <p>{{i18n "infoOneContent"}}</p>
        </div>    
        <div class="info-two">
            <div class="info">
                <img src="/icons/cloud-light.svg" height="36" width="36"> 
                <h3>{{i18n "infoTwoTitle"}}</h3>
            </div>
            <p>{{i18n "infoTwoContent"}}</p>
        </div>    
        <div class="info-three">
            <div class="info">
                <img src="/icons/person-gear.svg" height="36" width="36">
                <h3>{{i18n "infoThreeTitle"}}</h3>
            </div>
            <p>{{i18n "infoThreeContent"}}</p>
        </div>    
        <div class="info-btn-wrapper">
	<!-- Link to page detailing security / encryption procols etc -->
            <a class="info-btn info-btn-one" href="/security">{{i18n "learnMoreBtn"}}  →</a>
        </div>
        <div class="info-btn-wrapper">
	<!-- Link to an infographic detailing network scenarios? -->
            <a class="info-btn info-btn-two" href="/about">{{i18n "learnMoreBtn"}} →</a>
        </div>
        <div class="info-btn-wrapper">
	<!-- Maybe link to a video demo here? Or for now, section of FAQ that details how the different sharing options work.. -->
    <a class="info-btn info-btn-three" href="/faq#sharing">{{i18n "learnMoreBtn"}} →</a>
        </div>
    </div>
</section>
<div class="gradient-three"></div>
</main>
{{partial "footer.html" .}}
</html>
