<div class="about-features-wrapper">
    <h2>Features</h2>
    <div class="about-features-grid">
        <div class="about-feature">
            <div class="feature-title">
                <img class="feature-icon" src=""/>
                <h3>Easy to use</h3>
            </div>
            <p>Simply install and quickly create files and folders to sync and share with trusted devices, contacts and/or groups.</p>
        </div>
        <div class="about-feature">
            <div class="feature-title">
                <img class="feature-icon" src=""/>
                <h3>Offline-first</h3>
            </div>
            <p>Ouisync uses an innovative, synchronous, peer-to-peer design that allows users to access and share files and folders whether or not your device can connect to the internet.</p>
        </div>
        <div class="about-feature">
            <div class="feature-title">
                <img class="feature-icon" src=""/>
                <h3>Secure</h3>
            </div>
            <p>End-to-end encrypted files and folders - both in transit and at rest - secured by established, state-of-the art protocols.</p>
        </div>
        <div class="about-feature">
            <div class="feature-title">
                <img class="feature-icon" src=""/>
                <h3>Free for everyone</h3>
            </div>
            <p>No in-app purchases, no subscriptions, no ads, and no tracking!</p>
        </div>
        <div class="about-feature">
            <div class="feature-title">
                <img class="feature-icon" src=""/>
                <h3>Access Controls</h3>
            </div>
            <p>Create repositories that can be shared as read-write, read-only, or blind (you store files for others, but cannot access them).</p>
        </div>
        <div class="about-feature">
            <div class="feature-title">
                <img class="feature-icon" src=""/>
                <h3>Open Source</h3>
            </div>
            <p>Ouisync's source code is 100% free and open source software, now and forever. All code can be found on <a href="https://github.com/equalitie/ouisync-app">Github</a>.</p>
        </div>
    </div>
</div>