<div class="community-cards-wrapper">
    <div class="community-card">
        <div class="center">
            <img class="community-card-icon" src="">
            <h2>View the Source Code</h2>
        </div>
        <p>Some content here</p>
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two" href="/about">Learn More</a>
        </div>
    </div>
    <div class="community-card">
        <div class="center">
            <img class="community-card-icon" src="">
            <h2>Get in Touch</h2>
        </div>
        <p>Some content here</p>
        <div class="community-card-link">
            <img class="community-card-link-icon" src="">
            <p>Matrix #linkgoeshere</p>
        </div>
        <div class="community-card-link">
            <img class="community-card-link-icon" src="">
            <p>IRC #linkgoeshere</p>
        </div>
        <div class="community-card-link">
            <img class="community-card-link-icon" src="">
            <p>Twitter @usernamegoeshere</p>
        </div>
        <div class="community-card-link">
            <img class="community-card-link-icon" src="">
            <p>Mastodon @usrname@here</p>
        </div>
    </div>
    <div class="community-card">
        <div class="center">
            <img class="community-card-icon" src="">
            <h2>Translate Ouisync</h2>
        </div>
        <p>Some content here</p>
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two" href="/about">Join the Ouisync Weblate</a>
        </div>
    </div>
</div>