<div class="hero-text">
    <h1>Download Ouisync</h1>
    <p>Freely share files using peer to peer network</p> <!-- needs copy help -->
</div>
<div class="download-wrapper">
    <div class="download-item">
        <img class="download-icon" src="/icons/ouisync-bg.svg" height="200"/>        
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two" href="/about">Android</a>
        </div>
        <a class="signature" href="/">Signature</a>
    </div>
    <div class="download-item">
        <img class="download-icon" src="/icons/ouisync-bg.svg" height="200"/>        
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two" href="/about">Windows</a>
        </div>
        <a class="signature" href="/">Signature</a>
    </div>
    <div class="download-item">
        <img class="download-icon" src="/icons/ouisync-bg.svg" height="200"/>        
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two" href="/about">Linux</a>
        </div>
        <a class="signature" href="/">Signature</a>
    </div>
    <div class="download-item">
        <img class="download-icon" src="/icons/ouisync-bg.svg" height="200"/>        
        <div class="info-btn-wrapper">
            <a class="info-btn info-btn-two" href="/about">🚧 iOS (Coming Soon!)</a>
        </div>
        <a class="signature" href="/">Signature</a>
    </div>
</div>