<div class="download-wrapper">
    <div class="hero-text">
        <h1>Download Ouisync</h1>
        <p>Freely share files using peer to peer networking.</p> <!-- needs copy help -->
    </div>
    <div class="download-grid">
        <div class="download-item">
            <div class="download-icon-wrapper">
                <img class="windows-icon" src="/icons/android.svg" height="112">
                <img class="download-icon" src="/icons/ouisync-bg-purple.svg" height="200"/>        
            </div>
            <div class="info-btn-wrapper">
                <a class="info-btn info-btn-two" href="/about">Android</a>
            </div>
            <a class="signature" href="/">Signature</a>
        </div>
        <div class="download-item">
            <div class="download-icon-wrapper">
                <img class="windows-icon" src="/icons/windows.svg" height="112">
                <img class="download-icon" src="/icons/ouisync-bg-purple.svg" height="200"/>        
            </div>
            <div class="info-btn-wrapper">
                <a class="info-btn info-btn-two" href="/about">Windows</a>
            </div>
            <a class="signature" href="/">Signature</a>
        </div>
        <div class="download-item">
            <div class="download-icon-wrapper">
                <img class="windows-icon" src="/icons/linux.svg" height="112">
                <img class="download-icon" src="/icons/ouisync-bg-purple.svg" height="200"/>        
            </div>
            <div class="info-btn-wrapper">
                <a class="info-btn info-btn-two" href="/about">Linux</a>
            </div>
            <a class="signature" href="/">Signature</a>
        </div>
        <div class="download-item">
            <div class="download-icon-wrapper">
                <img class="windows-icon" src="/icons/apple.svg" height="112">
                <img class="download-icon" src="/icons/ouisync-bg-purple.svg" height="200"/>        
            </div>
            <div class="info-btn-wrapper">
                <a class="info-btn info-btn-two" href="/about">🚧 iOS (Coming Soon!)</a>
            </div>
            <a class="signature" href="/">Signature</a>
        </div>
    </div>
    <div class="hero-text">
        <h2 class="faq-subheader">Direct Download</h2>
    </div>
</div>